.botao2 {
    background-color: #DA0D1E;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    box-shadow: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 488px;
    bottom: 200px;
    right: 16px;
  }
  

  @media (min-width: 768px){
    .botao2 {
      right: calc(100% - 1000px);
    }
  }